@import url('https://fonts.googleapis.com/css2?family=Exo:wght@700&display=swap');

:root {
    --mymemorymaker-primary: #11a7b5;
    --mymemorymaker-text-basic: #4f4f4f;
}

.float-right {
    float: right;
}

.price-duration-inputs {
    max-width: 100px;
}

.input-right-align {
    display: inline-block;
}

.image-upload-column {
    max-width: 30px
}

.bg-memorymaker-light {
    background: #eaeaea;
}

.search-entity-image {
    width: 100%;
    object-fit: contain;
    position: relative;
    align-self: center;
}

.search-entity-icon {
    font-size: 2rem;
}

.search-entity-bottom-element {
    position: absolute;
    bottom: 1.5rem;
}

@media (min-width: 768px) {
    .search-entity-image {
        max-height: 25vh !important;
    }
}

@media (max-width: 767px) {
    .search-entity-image {
        max-height: 66vh !important;
    }
}

/*Navbar formatting*/
.navbar-icon-selected {
    color: var(--mymemorymaker-primary) !important;
}

@media (max-width: 767px) {
    .navbar-nav {
        flex-direction: row !important;
        width: 100%;
    }

    .nav-item {
        flex: 1;
    }
}


/*Search Home*/
body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.page-wrapper {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    flex-grow: 1;
    overflow: hidden;
}

@media (min-width: 768px) {
    .filter-column {
        width: 400px;
        min-width: 400px;
    }

    .results-background {
        left: 400px !important;
    }

    .results-column {
        flex-grow: 1;
    }

    .see-more-column.inactive {
        display: none;
    }

    .strapline {
        font-size: 4rem;
    }
}

@media (max-width: 767px) {
    .filter-column.active {
        width: 100vw;
    }

    .filter-column.active .bg-gradient-home {
        height: 100%;
        position: absolute;
        width: 100vw;
        z-index: -1;
        background: #FAFBFBFF;
    }

    .filter-column.inactive {
        display: none;
    }

    .results-column.active, .see-more-column.active {
        flex-grow: 1;
        max-width: 100vw;
    }

    .results-column.inactive, .see-more-column.inactive {
        display: none;
    }

    .strapline {
        font-family: "Exo", sans-serif;
        font-size: 2rem;
    }
}

.results-column.hide {
    display: none;
}

.filter-column, .results-column, .see-more-column {
    height: 100%;
    overflow: scroll;
}

.results-column {
    position: relative;
}

.strapline {
    font-family: "Exo", sans-serif;
}

.results-background {
    opacity: 0.15;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: fill;
    background: rgb(166, 254, 255);
}
.results-background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#second-navbar {
    position: fixed;
    z-index: 10;
    bottom: 59px;
    width: 100vw;
    padding-top: 0;
    padding-bottom: 0;
}

.nav-button-group .btn {
    border-radius: 0;
    color: black;
}

.text-mymemorymaker-primary {
    color: var(--mymemorymaker-primary) !important;
}

.toggle-type-text {
    font-size: 0.5rem;
}

.w-30 {
    width: 31.5% !important;
    line-height: 1;
}

.search-home-banner {
    max-height: 30vh;
}

.search-home-banner span {
    color: var(--mymemorymaker-text-basic);
    font-size: 2rem;
    line-height: 1;
}

.homepage-banner-image {
    height: 25vh;
    object-fit: contain;
    position: relative;
    align-self: center;
}

.text-basic {
    color: #4f4f4f;
}

.btn-activity-type-toggle {
    background: white;
    color: var(--mymemorymaker-text-basic);
}

input[type="checkbox"]:checked + label.btn-activity-type-toggle {
    background: rgba(0, 126, 0, 0.56);
}

.get-started-text {
    color: rgb(5, 27, 139);
}

.slider-margin-fix {
    margin-bottom: 40px;
}

.datepicker-toggle-icon {
    font-size: 2rem;
}

.search-filter-button-true {
    background: rgba(0, 126, 0, 0.56) !important;
}

.search-filter-button-false {
    background: rgba(189, 0, 0, 0.63) !important;
}

.invalid-feedback-manual {
    width: 100%;
    margin-top: .25rem;
    font-size: .875em;
    color: #dc3545;
}

.welcome-banner {
    max-height: 0;
    transition: max-height 1.5s ease-out;
    overflow: hidden;
}

.welcome-banner.active {
    max-height: 3000px;
    transition: max-height 1.5s ease-in;
}

.search-entity-card {
    width: 100%;
    overflow: hidden;
}

.btn.btn-primary {
    background: var(--mymemorymaker-primary);
}

