{% load crispy_forms_tags %}
{% load static %}
{% load filter_name_human_readable %}

<!--
This partial renders a form for searching by filters on a new activity, place or event.
Relies on a search.filters.FilterSearchForm to be passed as context["filter_search_form"]
-->
<script async
        src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&libraries=places&callback=gmapsInitialize">
</script>

<script src="{% static "js/search.js" %}"></script>

<div class="container">
    <form type="get" class="p-2">
        <!-- Activity, event, place -->
        <div class="row d-flex flex-row">
            <div class="col-12 d-flex flex-row">
                {{ filter_search_form.activity_select }}
                <label class="btn btn-activity-type-toggle btn-lg mx-1 w-30" for="id_activity_select">
                    Activity
                    <br>
                    <span class="toggle-type-text">Something to do, without a specific place or time.</span>
                </label>
                {{ filter_search_form.event_select }}
                <label class="btn btn-activity-type-toggle mx-1 btn-lg w-30" for="id_event_select">
                    Event
                    <br>
                    <span class="toggle-type-text">
                    Something going on, at a given place and time.
                </span>
                </label>
                {{ filter_search_form.place_select }}
                <label class="btn btn-activity-type-toggle btn-lg mx-1 w-30" for="id_place_select">
                    Place
                    <br>
                    <span class="toggle-type-text">
                    A location where activities and events take place.
                </span>
                </label>
            </div>

        </div>
        <!-- Location, Google maps API -->
        <div class="row mt-3">
            <div class="col-12">
                {{ filter_search_form.location|as_crispy_field }}
                {{ filter_search_form.location_lat }}
                {{ filter_search_form.location_long }}
            </div>
            <div class="invalid-feedback-manual" id="invalid-feedback-location"></div>
        </div>
        <!-- Distance -->
        <div class="row mt-4">
            <div class="col-12">
                <label for="id_distance_lower">Distance</label>
                <div class="row">
                    <div class="col-6">
                        {{ filter_search_form.distance_lower.label }}
                        <div class="input-group">
                            {{ filter_search_form.distance_lower }}
                            <span class="input-group-text" id="from-distance-addon">miles</span>
                        </div>
                    </div>
                    <div class="col-6">
                        {{ filter_search_form.distance_upper.label }}
                        <div class="input-group">
                            {{ filter_search_form.distance_upper }}
                            <span class="input-group-text" id="to-distance-addon">miles</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Price -->
        <div class="row mt-4">
            <div class="col-12">
                <label for="id_price_lower">Price</label>
                <div class="row">
                    <div class="col-6">
                        {{ filter_search_form.price_lower.label }}
                        <div class="input-group">
                            <span class="input-group-text" id="from-price-addon">£</span>
                            {{ filter_search_form.price_lower }}
                        </div>
                    </div>
                    <div class="col-6">
                        {{ filter_search_form.price_upper.label }}
                        <div class="input-group">
                            <span class="input-group-text" id="to-price-addon">£</span>
                            {{ filter_search_form.price_upper }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Duration -->
        <div class="row mt-4">
            <div class="col-12">
                <label for="id_duration_lower">Duration</label>
                <div class="row">
                    <div class="col-6">
                        {{ filter_search_form.duration_lower.label }}
                        <div class="input-group">
                            {{ filter_search_form.duration_lower }}
                            <span class="input-group-text" id="from-duration-addon">hours</span>
                        </div>
                    </div>
                    <div class="col-6">
                        {{ filter_search_form.duration_upper.label }}
                        <div class="input-group">
                            {{ filter_search_form.duration_upper }}
                            <span class="input-group-text" id="to-duration-addon">hours</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Date from, date to -->
        <div class="row mt-4">
            <div class="col-12">
                <div class="form-outline" id="datetime-from-picker">
                    <label for="id_datetime_from" class="form-label">Date / Time from</label>
                    {{ filter_search_form.datetime_from }}
                </div>
            </div>
            <div class="col-12">
                <div class="form-outline" id="datetime-to-picker">
                    <label for="id_datetime_to" class="form-label">Date / Time to</label>
                    {{ filter_search_form.datetime_to }}
                </div>
            </div>
        </div>
        <!-- Keyword search -->
        <div class="row">
            <div class="col-12">
                {{ filter_search_form.keywords|as_crispy_field }}
            </div>
        </div>
        <!--Filters button section-->
        {% for category, filter_list in filters_dict.items %}
            <div class="row mt-4">
                <div class="col-12">
                    <h3 class="h5">{{ category|filter_name_human_readable }}</h3>
                    {% if category == "people" %}
                        <!-- Number of people, slider -->
                        <div class="row mt-4 mb-3">
                            <div class="col-12">
                                <label for="id_distance_lower">Number of people</label>
                                <div class="row">
                                    <div class="col-6">
                                        {{ filter_search_form.people_lower.label }}
                                        <div class="input-group">
                                            {{ filter_search_form.people_lower }}
                                            <span class="input-group-text" id="from-people-addon">people</span>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        {{ filter_search_form.people_upper.label }}
                                        <div class="input-group">
                                            {{ filter_search_form.people_upper }}
                                            <span class="input-group-text" id="to-people-addon">people</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% for filter in filter_list %}
                        <select
                                name="filter_{{ filter }}"
                                id="filter_{{ filter }}"
                                class="filter-select"
                                hidden
                        >
                            <option value="none" selected>none</option>
                            <option value="true">true</option>
                            <option value="false">false</option>
                        </select>
                        <button type="button"
                                class="btn btn-white m-1"
                                id="search-filter-button-{{ filter }}"
                                onclick="searchFilterButtonOperate('{{ filter }}', runSearch)"
                        >{{ filter|filter_name_human_readable }}
                        </button>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        <!-- Sticky bottom second nav fix-->
        <div class="row d-md-none" style="height: 120px"></div>
    </form>
</div>

<script>
    function gmapsInitialize() {
        var input = document.getElementById('id_location');
        const options = {
            componentRestrictions: {country: "uk"},
            fields: ["geometry"],
            strictBounds: false,
        };
        const autocomplete = new google.maps.places.Autocomplete(input, options);
        autocomplete.addListener("place_changed", function () {
            const place = autocomplete.getPlace();
            document.getElementById("id_location_lat").value = place.geometry.location.lat()
            document.getElementById("id_location_long").value = place.geometry.location.lng()
            checkValidLocation()
        });
    }

    function checkValidLocation() {
        if (document.getElementById("id_location_lat").value === "") {
            document.getElementById("invalid-feedback-location").innerHTML = "Please select a location to enable distance search."
        } else {
            document.getElementById("invalid-feedback-location").innerHTML = ""
            runSearch()
        }
    }

    const dateTimeFrom = document.querySelector('#datetime-from-picker');
    new mdb.Datetimepicker(dateTimeFrom, {
        timepicker: {format24: true},
    });
    dateTimeFrom.addEventListener('datetimeChange.mdb.datetimepicker', (e) => {
        runSearch()
    })
    const dateTimeTo = document.querySelector('#datetime-to-picker');
    new mdb.Datetimepicker(dateTimeTo, {
        timepicker: {format24: true},
    });
    dateTimeTo.addEventListener('datetimeChange.mdb.datetimepicker', (e) => {
        runSearch()
    })

    // Force all applicable fields to re-run the search function on change
    var searchFields = document.getElementsByClassName("search-on-change");
    for (let i = 0; i < searchFields.length; i++) {
        searchFields.item(i).addEventListener("change", runSearch)
    }

    // Watching for changes to the slider boxes spams the search API for every slide
    // Limit this by checking for removal of the active class from multi-range-slider-hand
    // classed objects.
    var sliderHands = document.getElementsByClassName("multi-range-slider-hand");
    for (let i = 0; i < sliderHands.length; i++) {
        new ClassWatcher(sliderHands[i], 'active', function () {
        }, runSearch)
    }

    const searchResultsURL = "{{ search_results_url }}".replace("dummy", "")
</script>
