{% load static %}

{#<div class="row search-home-banner">#}
{#    <div class="col-7 p-4 pt-5">#}
{#        <h1 class="h2 text-basic text-black">Find things to do and<br>#}
{#            <span class="text-white" style="font-size: inherit">make memories </span>#}
{#            with family, friends or on your own.#}
{#        </h1>#}
{#    </div>#}
{#    <div class="col-5 h-100 py-2 text-center">#}
{#        <img class="homepage-banner-image"#}
{#             alt="Find something to do!"#}
{#             src="{% static "image/placeholder_images/homepage_man.png" %}">#}
{#    </div>#}
{#</div>#}

<div class="row mt-4">
    <div class="col-12 text-center">
        <img class="w-100" src="{% static "image/placeholder_images/homepage_banner.png" %}">
    </div>
</div>
<div class="row mt-4">
    <div class="col-12 text-center mt-3">
        <h2 class="get-started-text">Select filters to get started.</h2>
    </div>
</div>