{% load static %}

<div id="">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="strapline">Find things to do and
                <br>
                <span class="navbar-icon-selected">make memories</span>
                <br>
                with family, friends or on your own!
            </h1>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 text-center mt-3">
            <h2 class="get-started-text">
                Select filters to get started.
                <br>
                The more filters you select the more bespoke your search results will be.
            </h2>
        </div>
    </div>
</div>